<p-card styleClass="dynamic-form-card" class="flex justify-content-center">
  <div class="text-center">Dynamic Form Creation</div>
  <form [formGroup]="dynamicForm" (ngSubmit)="saveForm()" novalidate>

    <div class="field" *ngFor="let field of formFields" [ngSwitch]="field.type">

      <label class="block">{{field.label}}</label>
      <textarea pInputTextarea *ngSwitchCase="'textArea'" formControlName="{{field.name}}"></textarea>
      <input type="text" pInputText *ngSwitchCase="'text'" formControlName="{{field.name}}"/>
      <p-inputNumber inputId="integeronly" *ngSwitchCase="'number'" formControlName="{{field.name}}"></p-inputNumber>
      <p-dropdown [options]="field.options" *ngSwitchCase="'dropdown'" 
                  formControlName="{{field.name}}" placeholder="select"></p-dropdown>

      <small class="block p-error" *ngIf="dynamicForm?.get(field.name)?.invalid &&
                                          dynamicForm?.get(field.name)?.dirty">This is Required</small>
    </div>
    <p-button label="Submit" type="submit" [disabled]="dynamicForm.invalid"></p-button>

  </form>
</p-card>